<h1>{{actualPerson.name}}</h1>
<br>
<p><b>Altura:</b> {{actualPerson?.height}}</p>
<p><b>Masa:</b> {{actualPerson?.mass}}</p>
<p><b>Color de pelo:</b> {{actualPerson?.hair_color}}</p>
<p><b>Color de piel:</b> {{actualPerson?.skin_color}}</p>
<p><b>Color de ojos:</b> {{actualPerson?.eye_color}}</p>
<p><b>Año de nacimiento:</b> {{actualPerson?.birth_year}}</p>
<p><b>Género:</b> {{actualPerson?.gender}}</p>
<p><b>Mundo natal:</b> {{actualPerson?.homeworld}}</p>
<p><b>Películas:</b> {{actualPerson?.films}}</p>
<p><b>Especie:</b> {{actualPerson?.species}}</p>
<p><b>Vehículos:</b> {{actualPerson?.vehicles}}</p>
<p><b>Naves estelares:</b> {{actualPerson?.starships}}</p>
<p><b>Creado:</b> {{actualPerson?.created}}</p>
<p><b>Editado:</b> {{actualPerson?.edited}}</p>
<p><b>URL:</b> {{actualPerson?.url}}</p>
